/Calculator/nbproject/private/
/Calculator/build/
/Calculator/dist/
/Socket.Programming/build/
/lovecalculator/nbproject/private/
/Database_Connection/nbproject/private/
/Database_Connection/build/
/Database_Connection/dist/
/DigitalClock/nbproject/private/
/DigitalClock/build/
/DigitalClock/dist/
/Xylophone/nbproject/private/
/Xylophone/dist/
/Xylophone/build/
/AdvancedMedia/nbproject/private/
/AdvancedMedia/build/
/AdvancedMedia/dist/
/BrickBreaker/nbproject/private/
/BrickBreaker/dist/
/BrickBreaker/build/
/Neoclass/nbproject/private/
/Neoclass/build/
/developer.turing.com/nbproject/private/
/developer.turing.com/build/
/Java Problems/nbproject/private/
/Collection_and_Generics/nbproject/private/
/Java Problems/build/
/.metadata/
/.recommenders/
*.class
