<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
          integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
          crossorigin="anonymous"/>


</head>
<style>
    body {
        background-color: darkslategray;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="img/ET_logo.jpeg" height="75px" width="75px" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
        <span class="navbar-text">
      Login to Save your money
            <button class="mr-2 btn btn-outline-primary" id="loginBtn"> Login</button>
    </span>
    </div>
</nav>
<div class="container">
    <div class="row ml-2  " height="100%">
        <div class="col-md-4 shadow-lg p-3 mt-2  text-center bg-light rounded  bg-dark text-light "
             style="
             height: 350px;"
             >
            <h3>your current expenses</h3>

            <div class="overflow-auto"
                 style="
                 height:224px;
                 "
            >

                <table class="table table-hover bg-light ">
                    <thead>
                    <tr>
                        <td><strong>Date</strong></td>
                        <td><strong>Title</strong></td>
                        <td><strong>Cost</strong></td>
                    </tr>
                    </thead>
                    <div class="">

                        <tr th:each="expense: ${listExpense}">
                            <td th:text="${expense.getExpenseDate()}">
                            <td th:text="${expense.getExpenseType()}"/>
                            <td th:text="${expense.getMoneySpent()}"/>
                        </tr>
                    </div>
                </table>

            </div>


            <input type="button" id="add" data-toggle="modal" data-target="#exampleModal"
                   class="float-right col-md-12 btn-primary text-light  btn-outline-success rounded" value="Add"
                   name="addExpense"/>

        </div>

        <div class="col-md-7 shadow-sm p-3 ml-4 mt-2 text-center bg-light rounded">
            <h3>Visualize your expense</h3>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/data.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>

            <figure class="highcharts-figure">
                <div id="container"></div>
                <p class="highcharts-description">
                    Highcharts has extensive support for time series, and will adapt
                    intelligently to the input data. Click and drag in the chart to zoom in
                    and inspect the data.
                </p>
            </figure>

            <hr>
        </div>

    </div>


    <div class="container mt-4">
        <div class="row">
            <div class="col col-md-12 text-center shadow-sm bg-light rounded">
                <h4>Forecast your next month Expense</h4>



                <hr>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add your Expense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" th:action="@{/}" method="post">


                <div class="modal-body">
                    <input type="text" name="title" id="title" placeholder="name of the expense "
                           class="form-control p-3 mb-4">
                    <input type="text" name="cost" id="cost" placeholder="amount" class="form-control p-3">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" id="saveBtn" class="btn btn-primary" value="Save">
                </div>

            </form>
        </div>
    </div>
</div>
<div id="output"></div>
<!--</p>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"
        integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A=="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"
        integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg=="
        crossorigin="anonymous"></script>
<script src="js/custom.js"></script>
</body>

</html>