.primary-background{
    background:#42a5f5 !important;
}
.footer-style{
    background: #1565c0 !important;
}

.banner-background {
    clip-path: polygon(0 0, 100% 13%, 100% 67%, 88% 84%, 47% 82%, 0 95%);
}

@keyframes login-style {
    /*from{background-color: #42a5f5;*/
    /*}to{background-color: red;}*/
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: #42a5f5; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: olive; left: 0px; top: 0px;}

}

body{

    animation-fill-mode: forwards;
    animation-name: login-style;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
.login-card {
    box-shadow: 0 5px 0 #006599;
    clip-path: polygon(0% 15%, 26% 26%, 15% 0%, 85% 0%, 73% 24%, 100% 15%, 100% 85%, 75% 68%, 85% 100%, 15% 100%, 27% 69%, 0% 85%);
    box-shadow: azure;


}